body {
	font-family: Arial, sans-serif;
	max-width: 500px;
  	margin: 20px auto;
  	border: 1px solid #ccc;
 	padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
	text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #555;
    padding: 10px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    padding: 10px 20px;
}

.content {
	text-align: center;
	padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #777;
}

.left {
	display: inline-block;
	justify-content: center;
	margin: 10px;
}

.right {
	display: inline-block;
	justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}