.cart-container {
	font-family: Arial, sans-serif;
	max-width: 500px; 
	margin: 20px auto;
	border: 1px solid #ccc;
	padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
	text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #555;
    padding: 10px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    padding: 10px 20px;
}

.bouton {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cart-title {
  text-align: center;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}