@charset "UTF-8";
/* Fichier Preparation.css */

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

/* Styles pour l'en-tête */
.header {
    margin-bottom: 20px;
}

/* Styles pour le conteneur des commandes */
.commandes-container {
    border: 1px solid #ccc;
    padding: 20px;
}

/* Styles pour la liste des commandes */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styles pour chaque élément de la liste de commandes */
li {
    margin-bottom: 20px;
}

/* Styles pour les informations de chaque commande */
.commande-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Styles pour le numéro de commande */
.commande-id {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

/* Styles pour l'heure de préparation */
.commande-heure {
    font-size: 14px;
    font-style: italic;
    color: #555;
}

/* Styles pour la liste des articles de chaque commande */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styles pour chaque élément de la liste d'articles */
li {
    margin-bottom: 10px;
}

/* Styles pour le bouton "Commande payée" */
.commande-paye-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Supprimer le soulignement du texte */
    display: inline-block; /* Ajouter cette propriété pour ajuster la largeur du bouton */
    margin-top: 10px; /* Ajouter un espace entre les boutons */
}

.commande-paye-btn:hover {
    background-color: #218838;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #555;
    padding: 10px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    padding: 10px 20px;
}