body {
    font-family: Arial, sans-serif;
   	max-width: 500px;
  	margin: 20px auto;
  	border: 1px solid #ccc;
 	padding: 20px;
 	text-align: center;
}

.content {
	text-align: center;
	padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #777;
    color: #fff;
}

.lien {
	text-decoration: none;
	color: #fff;
}

.left {
	display: inline-block;
	justify-content: center;
	margin: 10px;
}

.right {
	display: inline-block;
	justify-content: center;
	margin: 10px;
}