<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
</head>
<body>
    <h1>Tables</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Libelle</th>
        </tr>
        <!-- Utilisez une boucle pour parcourir les données et afficher chaque enregistrement -->
        <!-- Assurez-vous que "tables" est le nom de l'attribut que vous utilisez dans le modèle (Model) pour transmettre les données -->
        <tr th:each="article : ${articles}">
            <td th:text="${article.idArticle}"></td>
            <td th:text="${article.nom}"></td>
            <td th:text="${article.taille}"></td>
            <td th:text="${article.prix}"></td>
            <td><a th:href="@{/article(id=${article.idArticle})}">Supprimer</a></td>
        </tr>
    </table>
</body>
</html>