<html>
<head>
    <meta charset="UTF-8">
    <title>Commandes à préparer</title>
    <link rel="stylesheet" href="Commande.css"> <!-- Lien vers le fichier CSS externe -->
</head>
<form th:action="@{/CommandePaye}" method="post">
<body>
    <div class="header">
        <h1>Historiques de commandes</h1>
    </div>
    <div class="commandes-container">
        <!-- Utilisez une boucle pour parcourir les données et afficher chaque commande -->
        <!-- Assurez-vous que "commandes" est le nom de l'attribut que vous utilisez dans le modèle (Model) pour transmettre les données -->
        <ul class="commandes-list">
            <li th:each="commande : ${commandes}">
                <div class="commande-item">
                    <span class="commande-id">Commande n° <span th:text="${commande.idCommande}"></span></span>
                    <span class="commande-statut">Statut : <span th:text="${commande.statutCommande.libelle}"></span></span>
                    <span class="commande-total">Total : <span th:text="${commande.total}"></span> €</span>
                    <span class="commande-heure">Heure de préparation : <span th:text="${commande.heureCommande}"></span></span>
                    <span class="commande-table">Numéro de table : <span th:text="${commande.noTable}"></span></span>
                    <span <input type="hidden" name="idCommande" th:value="${commande.idCommande}"/></span></span>
                    <a th:href="@{/CommandePayee(idCommande=${commande.idCommande})}">Commande payée</a>
                    <button class="commande-paye-btn">Commande payée</button>
                </div>
            </li>
        </ul>
    </div>
</body>
</form>
</html>